<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ElevatorSystem:DefaultFloor" value="0" />
		<add key="ElevatorSystem:MaxFloors" value="20" />
		<add key="ElevatorSystem:MinFloor" value="0" />
		<add key="ElevatorSystem:MaintenanceModeEnabled" value="false" />
		<add key="ElevatorSystem:EmergencyStopEnabled" value="true" />
	</appSettings>
</configuration>